<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="preload" href="/fonts/nanumgothic-regular-webfont.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/nanumgothic-bold-webfont.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/nanumgothic-extrabold-webfont.woff2" as="font" type="font/woff2"/>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
