.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  background-color: #100f0f; /* Pitch black background */
  color: #ffffff;           /* White text color */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  flex-direction: column;   /* Align items vertically */
  padding: 20px;
}

h1, h2 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

a {
    color: #ffbb7a; /* Pastel orange hyperlink color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #ff804f; /* Lighter shade on hover */
}

header ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

header li {
    position: relative; /* Ensure relative positioning for the ::before pseudo-element */
    padding: 10px; /* Add padding for the white rectangle outline */
    margin-bottom: 5px; /* Add margin between list items */
    border: 0.5px solid #5B5B66; /* White border for the outline */
}

header li:hover::before {
    content: ''; /* Add content for pseudo-element */
    position: absolute; /* Position the outline absolutely */
    top: 0; /* Align the top of the outline with the top of the li */
    left: 0; /* Align the left of the outline with the left of the li */
    width: 100%; /* Set width of the outline to match the li */
    height: 100%; /* Set height of the outline to match the li */
    border: 1px solid #ffffff; /* White border for the outline */
    box-sizing: border-box; /* Ensure the border width is included in the element's dimensions */
    z-index: -1;
}

.bar {
    max-width: 800px;
    width: 100%;
    justify-content: center;
    margin: 0 auto; /* Center the div horizontally */
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

