{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $downloadURL := .Get "download" -}}

{{ with .Page.Resources.GetMatch $src }}
  {{ $image := . }}
  {{ $image := $image.Resize (printf "%dx%d webp" .Width .Height) }}
  {{ $blurImg := $image.Resize "800x q50" }}
  {{ $blurImg := $blurImg | images.Filter (images.GaussianBlur 6) }}
<figure style="position: relative; overflow: hidden;">
    <img src="{{ $blurImg.RelPermalink }}" 
         width="{{ $blurImg.Width }}" 
         height="{{ $blurImg.Height }}"
         loading="lazy"
         style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-size: cover; background-position: center center; transition: opacity 0.6s ease-out, transform 0.6s ease-out; opacity: 1;">
    </img>
    <img src="{{ $image.RelPermalink }}" 
         alt="{{ $alt }}"
         width="{{ $image.Width }}" 
         height="{{ $image.Height }}"
         loading="lazy"
         onload="this.style.opacity=1; this.previousElementSibling.style.opacity=0; this.previousElementSibling.style.transform='scale(1.1)';"
         style="display: block; width: 100%; height: auto; opacity: 0; transition: opacity 0.6s ease-out;">
    {{ with $caption }}
        <figcaption>{{ . }}</figcaption>
    {{ end }}
    {{ with $downloadURL }}
        <div><a href="{{ $image.RelPermalink }}" download>Download</a></div>
    {{ end }}
</figure>
{{ end }}

