body {
  background-color: #000000; /* Pitch black background */
  color: #ffffff;           /* White text color */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;   /* Align items vertically */
}

.container {
    text-align: center; /* Center align text */
    max-width: 800px;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

a {
    color: #ffbb7a; /* Pastel orange hyperlink color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #ff804f; /* Lighter shade on hover */
}
