<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "head.html" . }}
</head>
<body>
  <header class="container">
    {{ partial "header.html" . }}
  </header>
  <div class="container"><hr class="header-divider"></div>
  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="container">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
