{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    {{ $readingTime := div (float .FuzzyWordCount) .Site.Params.reading_speed }}
    {{ $readingTime = math.Ceil $readingTime }}
    <div class="meta-info">
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <span class="read-time">~{{ $readingTime }} min</span>
    </div>
    {{ .Description }}
    <hr>
  {{ end }}
  <div class="section-tags">
    {{- $currentTagLower := .Title | lower -}}
    {{- $isTermPage := eq .Kind "term" -}}
    {{ range $tag, $taxonomy := .Site.Taxonomies.tags }}
      {{- $tagSlug := $tag | urlize -}}
      {{- $isActive := and $isTermPage (eq $tag $currentTagLower) -}}
      <span>
        <a href="{{ "/tags/" | relURL }}{{ $tagSlug }}"{{ if $isActive }} class="active"{{ end }}>#{{ $tag }}</a>
      </span>
    {{ end }}
  </div>
{{ end }}
