{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  
  <div class="meta-info">
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <span class="read-time">~ {{ .ReadingTime }} min</span>
  </div>

  <div>
    <div class="table-of-content">
      <h4> Contents </h4>
      {{ .TableOfContents }}
    </div>
    {{ partial "ext_link.html" .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
